html {
    scroll-behavior: smooth;
  }

  
  .hotsport-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    position: relative;
    z-index: 1;
    background-color: black;
  }
  
  .hotsportpic img {
    width: 30vw;
    height: 40rem;
    margin-left: 10rem;
  
    object-fit: cover;
  }
  
  .hotsporttext{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .hotspaceLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .hotspaceLogoimg {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      border-radius: 50%;
      transition: transform 1.5s ease-in-out, box-shadow 0.5s ease;
    }
    
    .hotspaceLogoimg:hover {
      transform: rotate(80deg) scale(1.05);
      box-shadow: 0 0 25px 6px rgba(255, 255, 255, 0.8);
    }
    
  
  .heading {
    font-size: 2em;
    color: white;
    width: 50vw;
    text-align: right;
    line-height: 1.1; /* 👈 Lower value = tighter spacing */
    margin-right: 4rem;
  }
  
  .hotsporttext {
    display: flex;
    flex-direction: column;
  }
  
  
  .Btncontainer {
    display: flex;
    justify-content: center;
  }
  /* From Uiverse.io by mdanarul_9390 */ 

  .hotspotButton{
    background-color: transparent;
  }

  .hotspotButton {
    position: relative;
    padding: 14px 42px;
    font-size: 18px;
    font-weight: bold;
    border: none; 
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    display: inline-block;
    z-index: 1;
    transition: transform 0.2s ease;
    margin: 1rem;
    width: 22rem;
    border: solid 2px goldenrod;
  }
  
  a{
    text-align: center;
  }
  .button span {
    position: relative;
    z-index: 15;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  
  .button:hover::before {
    opacity: 1;
    transform: scale(1);
  }
  
  .bubble-layer {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: blur(30px);
    z-index: 0;
  }
  
  .bubble-1 {
    background: #0622f3;
    top: -20%;
    left: -10%;
    animation: moveUpRight 30s ease-in-out infinite;
    opacity: 30%;
  }
  .bubble-2 {
    background: #3c1ed4;
    top: 0%;
    left: 10%;
    animation: moveDownLeft 35s ease-in-out infinite;
    animation-delay: 34s;
    opacity: 30%;
  }
  .bubble-3 {
    background: #0bcbf2;
    top: 20%;
    left: 50%;
    animation: moveRight 4s ease-in-out infinite;
    animation-delay: 38s;
    opacity: 30%;
  }
  .bubble-4 {
    background: #ffffff;
    top: -20%;
    left: 70%;
    animation: moveUpLeft 7s ease-in-out infinite;
    animation-delay: 37s;
    opacity: 30%;
  }
  .bubble-5 {
    background: #474aa4;
    top: 30%;
    left: -10%;
    animation: moveDownRight 36s ease-in-out infinite;
    animation-delay: 34s;
    opacity: 30%;
  }
  .bubble-6 {
    background: #02385c;
    top: -10%;
    left: 30%;
    animation: moveLeft 38s ease-in-out infinite;
    animation-delay: 33s;
    opacity: 30%;
  }
  .bubble-7 {
    background: #0a2239;
    top: 40%;
    left: 60%;
    animation: moveUp 36s ease-in-out infinite;
    animation-delay: 35s;
    opacity: 30%;
  }
  
  @keyframes moveUpRight {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(100%, -100%);
    }
    50% {
      transform: translate(-50%, 50%);
    }
    75% {
      transform: translate(50%, -50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveDownLeft {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-100%, 100%);
    }
    50% {
      transform: translate(50%, -50%);
    }
    75% {
      transform: translate(-50%, 50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveRight {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(100%, 0);
    }
    50% {
      transform: translate(-100%, 50%);
    }
    75% {
      transform: translate(50%, -50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveUpLeft {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-100%, -100%);
    }
    50% {
      transform: translate(50%, 50%);
    }
    75% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveDownRight {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(100%, 100%);
    }
    50% {
      transform: translate(-50%, -50%);
    }
    75% {
      transform: translate(50%, 50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveLeft {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-100%, 0);
    }
    50% {
      transform: translate(100%, -50%);
    }
    75% {
      transform: translate(-50%, 50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes moveUp {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, -100%);
    }
    50% {
      transform: translate(50%, 50%);
    }
    75% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  
  